[Unit]
Description=Auto-tuning power management service

[Service]
ExecStart=/usr/sbin/powertop --auto-tune
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
